<form id="new-sighting">

    <div class="row clearfix">
        <div class="column half">
            <!--address: 'Dandelion Lane, Newtown',-->
            <label for="address">Address</label>
            <input type="text" name="address" />
        </div>
        <div class="column half">
            <!--type: 'Dandelion',-->
            <label for="type">Type</label>
            <select name="type" id="sighting-type">
                <option value="Edible">Edible</option>
                <option value="Fauna">Fauna</option>
            </select>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column full">
            <label for="address">Description</label>
        </div>
        <div class="column full">
            <textarea name="description" id="sighting-description" rows="5"></textarea>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column half">
            <!--access: 'public',-->
            <label for="access">Access</label>
            <select name="access" id="sighting-access">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
        <div class="column half">
            <!--verified: true,-->
            <label for="verified">Verified</label>
            <input type="radio"
                   name="verified"
                   id="sighting-verified"
                   value="verified" />
        </div>
    </div>
    <div class="row clearfix">
        <div class="column full">
            <!--photo-->
            <label for="address">Picture</label>
            <input type="file" name="datafile" size="40">
        </div>
    </div>
</form>
